{% extends 'frontBundle:Default:index.html.twig' %}

{% block mainMenu %}
    <li><a href="{{ path('front_homepage') }}">movies</a></li>
    <li><a href="{{ path('news_page') }}">news</a></li>
    <li><a href="{{ path('about_page') }}" id="current" class="MenuItemSelected">about</a></li>
    <li><a href="{{ path('contact_page') }}">contact</a></li>
{% endblock %}

{% block content %}

    <h2>coucou</h2>

{% endblock %}