{% extends '::base.html.twig' %}

{% block title %}NEXUS-6{% endblock %}

{% block body %}

    <div class="container">
        <header class="clearfix">
            <h1><a href="#">Nexus-6</a></h1>
        </header>
        <div class="main">
            <ul id="og-grid" class="og-grid">
                <li>
                    <a href="">
                        <img src="{{ asset('dist/img/images-test/thumbs/test.jpg') }}" alt="film">
                    </a>
                </li>
                {% for film in films %}
                    <li>
                        <a href="" data-largesrc="{{ asset(film.webPath("md")) }}" data-title="{{ film.nom }}" data-description="">
                            <img src="{{ asset('dist/img/images-test/thumbs/1.jpg') }}" alt="film">
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <footer>

        </footer>
    </div>

{% endblock %}